# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# Environment variables
.env
.env.*
!.env.example

# Alembic
alembic/versions/__pycache__/

# OS files
.DS_Store
Thumbs.db

# Test outputs
.coverage
htmlcov/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/

# Others
*.sqlite3
